@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.topRight {
  clip-path: polygon(
    0% 0px,
    calc(100% - 50px) 0px,
    100% 50px,
    100% calc(100% - 0px),
    calc(100% - 0px) 100%,
    0px 100%,
    0px calc(100% - 0px)
  );
}
